<!-- LOGIN MODAL-->
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content bg-dark">
            <div class="modal-header">
                <h3 class="modal-title text-light halder-title" id="loginModalLabel">Anmelden</h3>
            </div>
            <div class="modal-body">
                <!-- LOGIN FORM -->
                <form method="post">
                    {% csrf_token %}
                    {% for field in loginForm %}
                        <div class="text-light mt-1">
                            {{ field.label_tag }}  
                        </div>
                        {{ field }}
                    {% endfor %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Schließen</button>
                    <button type="button" class="btn btn-outline-warning" data-dismiss="modal" data-toggle="modal" data-target="#registrationModal">Registrieren</button>
                    <button type="submit" class="btn btn-outline-light" name="login">Anmelden</button>
                </div>
            </form>
        </div>
    </div>
</div>