<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#registrationModal">
  Add Products 
</button><!-- REGISTRATION MODAL -->
<div class="modal fade" id="registrationModal" tabindex="-1" role="dialog" aria-labelledby="registrationModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content bg-dark">
            <div class="modal-header">
                <h3 class="modal-title text-light halder-title" id="registrationModalLabel">Registration</h3>
            </div>
            <div class="modal-body">
                <!-- PaSSWORD CHANGE FORM -->
                <form>
                    <!-- ALTES PASSWORD -->
                    <div class="form-group mt-2">
                        <label for="passwordInput1" class="text-light">Old Password</label>
                        <input type="password" class="form-control" id="passwordInput1" placeholder="Kennwort">
                    </div>
                    <!-- NEW PASSWORD -->
                    <div class="form-group mt-2">
                        <label for="passwordInput2" class="text-light">New Password</label>
                        <input type="password" class="form-control" id="passwordInput2" placeholder="Wiederhole Kennwort">
                    </div>
                    <!--REPEAT PASSWORT-->
                    <div class="form-group mt-2">
                        <label for="passwordInput2" class="text-light">Repeat Password</label>
                        <input type="password" class="form-control" id="passwordInput2" placeholder="Wiederhole Kennwort">
                    </div>
                    
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Schließen</button>
                <button type="submit" class="btn btn-outline-light">Change Password</button>
            </div>
        </div>
    </div>
</div>