{% load static %}
<!-- FOOTER -->
<footer class="our-footer w-100 mx-auto">
    <hr class="bg-light">
    <div class="row">
        <h5 class = "text-light text-center text-capitalize halder-title h5">HALDER'S KEBAB</h5>
    </div>
    
    <div class="container-fluid">
        <img src="{% static 'benutzerSicht/images/logo_images/logo3.png' %}" alt="" class="rounded mx-auto d-block">
    </div>
    
    <div class="row">
        <div class="col">
            <a class = "nav-link text-light text-center halder-title h5" href="https://de.wikipedia.org/wiki/Allgemeine_Gesch%C3%A4ftsbedingungen_(Deutschland)">AGB</a>
        </div>
        <div class="col">
            <a class = "nav-link text-light text-center halder-title h5" href="#for_us">ÜBER UNS</a>
        </div>
        <div class="col">
            <a class = "nav-link text-light text-center halder-title h5" href="#" data-dismiss="modal" data-toggle="modal" data-target="#contactModal">KONTAKT</a>
        </div>
        <p class ="text-light text-center font-italic">&copy; Copyright 2021</p>   
    </div>
</footer>