{% load static %}
<!-- FOR US -->
<div class="container mt-5" id="for_us">
    <h3 class="text-center text-light halder-title">Über uns</h3>
    <hr class="bg-light">
    <div class="card-group">
        <div class="card me-2 p-2 for-us-card rounded">
          <img class="card-img-top" src="{% static 'benutzerSicht/images/for_us_images/halder.png' %}" alt="Halder">
          <div class="card-body bg-dark text-light">
                <hr class="bg-light">
                <h5 class="card-title halder-title">Halder Schaho</h5>
                <p class="card-text"><b class="text-danger">Chefkoch.</b> Kebab mit alleS?</p>
                <!--<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>-->
          </div>
        </div>
        <div class="card mx-2 p-2 for-us-card rounded">
          <img class="card-img-top" src="{% static 'benutzerSicht/images/for_us_images/sayed.png' %}" alt="Sayed">
          <div class="card-body bg-dark text-light">
                <hr class="bg-light">
                <h5 class="card-title halder-title">Sayed Sajadi</h5>
                <p class="card-text"><b class="text-danger">Stellvertretender Chefkoch.</b> VEGAN oder nichts!</p>
                <!--<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>-->
          </div>
        </div>
        <div class="card mx-2 p-2 for-us-card rounded">
          <img class="card-img-top" src="{% static 'benutzerSicht/images/for_us_images/henri.jpeg' %}" alt="Henri">
          <div class="card-body bg-dark text-light">
                <hr class="bg-light">
                <h5 class="card-title halder-title">Joel Youmen</h5>
                <p class="card-text"><b class="text-danger">Crew Chef.</b> Der Gast ist König!</p>
                <!--<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>-->
          </div>
        </div>
        <div class="card ms-2 p-2 for-us-card rounded">
            <img class="card-img-top" src="{% static 'benutzerSicht/images/for_us_images/georgi.png' %}" alt="Georgi">
            <div class="card-body bg-dark text-light">
                <hr class="bg-light">
                <h5 class="card-title halder-title">Georgi Kehayov</h5>
                <p class="card-text"><b class="text-danger">Wannabe Koch.</b> Keine Ahnung was da los war...</p>
                <!--<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>-->
            </div>
          </div>
      </div>
</div>