<!-- CONTACT MODAL -->
<div class="modal fade" id="contactModal" tabindex="-1" role="dialog" aria-labelledby="contactModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content bg-dark">
            <div class="modal-header">
                <h3 class="modal-title text-light halder-title" id="contactModalLabel">Nachricht senden</h3>
            </div>
            <div class="modal-body">
                <!-- CONTACT FORM -->
                <form>
                    <div class="form-group mt-2">
                        <label for="emailInput" class="text-light">Email</label>
                        <input type="email" class="form-control" id="emailInput" aria-describedby="emailHelp" placeholder="Email">
                    </div>
                    <div class="form-group mt-2">
                        <label for="messageInput" class="text-light">Nachricht</label>
                        <textarea class="form-control" id="messageTextArea" placeholder="Nachricht" cols="30" rows="5"></textarea>
                    </div>
                        <!--<button type="submit" class="btn btn-primary">Submit</button>-->
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Schließen</button>
                <button type="submit" class="btn btn-outline-light" data-dismiss="modal" data-toggle="modal" data-target="#contactModal">Senden</button>
            </div>
        </div>
    </div>
</div>