<!-- LOGIN MODAL-->
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content bg-dark">
            <div class="modal-header">
                <h3 class="modal-title text-light halder-title" id="loginModalLabel">Anmelden</h3>
            </div>
            <div class="modal-body">
                <!-- LOGIN FORM -->
                <form>
                    <div class="form-group">
                        <label for="usernameInput" class="text-light">Benutzerkonto</label>
                        <input type="username" class="form-control" id="usernameInput" aria-describedby="loginHelp" placeholder="Benutzerkonto">
                    </div>
                    <div class="form-group mt-2">
                        <label for="passwordInput" class="text-light">Kennwort</label>
                        <input type="password" class="form-control" id="passwordInput" placeholder="Kennwort">
                    </div>
                        <!--<button type="submit" class="btn btn-primary">Submit</button>-->
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Schließen</button>
                <button type="submit" class="btn btn-outline-warning" data-dismiss="modal" data-toggle="modal" data-target="#registrationModal">Registrieren</button>
                <button type="submit" class="btn btn-outline-light">Anmelden</button>
            </div>
        </div>
    </div>
</div>