{% extends 'benutzerSicht/index_base.html' %}
{% block REGISTRATION_FORM %}
{% load crispy_forms_tags %}
<!-- REGISTRATION FORM -->
    <div style="width: 40%" class="mx-auto">
        <h3 class="text-light halder-title ms-2">Registrierung</h3>
        <form method="post" class="form-group container">
            <!-- NAME -->
            {% csrf_token %}
            {% for field in regForm %}
                <div class="text-light mt-1">
                    {{ field.label_tag }}
                    
                </div>
                {{ field | as_crispy_field }}
            {% endfor %}
            {% if regForm.errors %}
                <div class="row text-light">
                {% for field_with_error,error_messages in regForm.errors.items %}
                    <div class="alert alert-danger">{{field_with_error}}  {{error_messages}}</div>
                {% endfor %}
                </div>
            {% endif %}
            <div >
                <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Schließen</button>
                <button type="submit" class="btn btn-outline-light" name="registration" id="registration">Registrieren</button>
            </div>
        </form>
    </div>
    
{% endblock  %}