{% load static %}
<!-- PRODUCT VIEW CARDS -->
<div class="container bg-dark mt-5">
    <h3 class="w-100 text-light text-center halder-title">Product Information</h3>
    <hr class="bg-light"/>
    <div class="row mb-3">
        <div class="col text-warning w-50">
            <img src="{% static 'benutzerSicht/images/product_view_images/pizza.jpg' %}" alt="pizza">
        </div>
        <div class="col w-100 mt-3">
            <h5 class="text-center text-light halder-title">Unsere leckere Pizzas</h5>
            <p class="text-light">Zur Zubereitung wird zuerst ein einfacher Hefeteig aus Mehl, Wasser,
                wenig Hefe, Salz und eventuell etwas Olivenöl hergestellt, gründlich durchgeknetet und 
                nach einer Gehzeit von mindestens einer Stunde bei Zimmertemperatur (bzw. über Nacht im 
                oberen Fach des Kühlschranks) ausgerollt oder mit den bemehlten Händen dünn ausgezogen. 
                Geübte Pizzabäcker ziehen den Teig über den Handrücken und weiten ihn durch Kreisenlassen 
                in der Luft.
                Dann wird der Teig mit den Zutaten je nach Rezept nicht zu üppig belegt, meist mit
                passierten Dosentomaten oder Salsa pizzaiola (einer vorher gekochten, sämigen Tomatensauce,
                die mit Oregano, Basilikum, Knoblauch und anderem kräftig gewürzt ist).
            </p>
        </div>
    </div>

    <div class="row foot-info">
        <hr class="bg-light">
        <div class="col w-100 mt-3">
            <h5 class="text-center text-light halder-title">Unsere leckere Kebabs</h5>
            <p class="text-light">Kalbfleisch (auch Kalbsfleisch) ist das Fleisch von wenige Wochen bis 
                Monate alten Rindern (Kälbern). Es ist allgemein zarter und heller als Rindfleisch. 
                Je nach Alter sowie Art der Aufzucht und Fütterung hat es eine hellrote, rosa oder auch 
                weißliche Farbe. Bei Weidehaltung und reinem Grünfutter färbt sich das Fleisch 
                rot, bei Stallmast ist es heller. Bei der Mast gibt es verschiedene Stufen: in der ersten
                Stufe werden die Kälber aufgestallt in Einzelboxen, um sie gut beobachten zu können 
                und um sie anzufüttern. Bei dieser Stufe können die Kälber einander sehen.
            </p>
        </div>
        <div class="col text-primary w-50 mb-3">
            <img src="{% static 'benutzerSicht/images/product_view_images/kebab.jpg' %}" alt="kebab">
        </div>
        <hr class="bg-light m-0">
    </div>

    <div class="row mt-3">
        <div class="col text-danger w-50">
            <img src="{% static 'benutzerSicht/images/product_view_images/salate.jpg' %}" alt="salate">
        </div>
        <div class="col w-100 mt-3">
            <h5 class="text-center text-light halder-title">Unsere leckere Salaten</h5>
            <p class="text-light">Ein Salat ist eine Speise der Kalten Küche und kann pikant oder 
                fruchtig-süß sein.Salate bestehen aus zerkleinertem Gemüse und/oder Obst ggf. mit 
                anderen Zutaten; sie werden mit einer Salatsauce angemacht und fast immer kalt
                serviert (bis auf wenige Ausnahmen).
                Man unterscheidet nach Zusammensetzung oder Herstellungsweise, z. B. rohe oder 
                gekochte Gemüsesalate. Einfache Salate werden in der Regel als Beilagensalat 
                gereicht (grüne Salate, aus einer Substanz bestehende aus Rohgemüse oder gekocht). 
                Zusammengesetzte Salate (Salatkompositonen) dienen meist als Vorspeise, vor allem 
                wenn sie Fleisch von Schalentieren, Fisch, Wild usw. enthalten.
            </p>
        </div>
    </div>
</div>