<!-- PRODUCT LIST PRICE -->
<div class="container mt-5 mb-5" id="price_card">
    <h3 class="text-center text-light text-decoration-inline halder-title">Price list</h3>
    <hr class="bg-light"/>
    <div class="row"
        <form method="POST" class="form-inline" onsubmit="openModal()" id="myForm">
            {% for catagory in catagories %}
                <div class="col">
                    <div class="price-menu rounded pb-2">
                        <h2 class="text-center text-light mt-3 pt-3 halder-title">{{ catagory }}</h2>
                        <ul class="list-group px-2 price-menu-ul text-light">
                            {% for product in products %}
                                {% if product.catagory.name ==  catagory.name %}
                                    <li class="list-group-item d-flex justify-content-between align-items-center mt-2 rounded">
                                        <div>
                                            <span class="text-light h5">{{ product.name }}</span>
                                        </div>
                                        <div class="d-inline">
                                            <span class="halder-price h5 p-1 pe-2 rounded text-danger">{{ product.price }} Euro</span>
                                                <a class="btn btn-outline-light building-link" role="button" data-dismiss="modal" 
                                                    data-toggle="modal" data-target="#orderModal" 
                                                    href="#orderModal" name="pro"  value="{{ product.id }}"
                                                    data-name='{{ product.name }}'
                                                    data-id='{{ product.id }}'
                                                    data-price='{{ product.price }}'
                                                >+</a> 
                                        </div>
                                    </li>
                                {% endif %}
                            {% endfor %} 
                        </ul>
                    </div>
                </div>
            {% endfor %}
        </form>
    </div>
</div>
