<!-- PRODUCT LIST PRICE -->
<div class="container mt-5 mb-5" id="price_card">
    <h3 class="text-center text-light text-decoration-inline halder-title">Preisliste</h3>
    <hr class="bg-light"/>
    <div class="row">
        <div class="col">
        {% csrf_token %}
            <div class="price-menu rounded pb-2">
                <h2 class="text-center text-light mt-3 pt-3 halder-title">KEBAB</h2>
                <ul class="list-group px-2 price-menu-ul text-light">
                    <li class="list-group-item d-flex justify-content-between align-items-center mt-2 rounded">
                        <div>
                            <span class="text-light h5">{{ doner.name }}</span>
                        </div>
                        <div class="d-inline">
                            <span class="halder-price h5 p-1 pe-2 rounded text-danger">{{ doner.price }} </span>
                            <a class="btn btn-outline-light" role="button" data-dismiss="modal" data-toggle="modal" data-target="#orderModal" href="#">+</a>
                        </div>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center mt-2 rounded">
                        <div>
                            <span class="text-light h5">XXL Doener </span>
                        </div>
                        <div class="d-inline">
                            <span class="halder-price h5 p-1 pe-2 rounded text-danger">29.99 Euro</span>
                            <a class="btn btn-outline-light" role="button" data-dismiss="modal" data-toggle="modal" data-target="#orderModal" href="#">+</a>
                        </div>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center mt-2 rounded">
                        <div>
                            <span class="text-light h5">XXL Doener </span>
                        </div>
                        <div class="d-inline">
                            <span class="halder-price h5 p-1 pe-2 rounded text-danger">29.99 Euro</span>
                            <a class="btn btn-outline-light" role="button" data-dismiss="modal" data-toggle="modal" data-target="#orderModal" href="#">+</a>
                        </div>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center mt-2 rounded">
                        <div>
                            <span class="text-light h5">XXL Doener </span>
                        </div>
                        <div class="d-inline">
                            <span class="halder-price h5 p-1 pe-2 rounded text-danger">29.99 Euro</span>
                            <a class="btn btn-outline-light" role="button" data-dismiss="modal" data-toggle="modal" data-target="#orderModal" href="#">+</a>
                        </div>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center mt-2 rounded">
                        <div>
                            <span class="text-light h5">XXL Doener </span>
                        </div>
                        <div class="d-inline">
                            <span class="halder-price h5 p-1 pe-2 rounded text-danger">29.99 Euro</span>
                            <a class="btn btn-outline-light" role="button" data-dismiss="modal" data-toggle="modal" data-target="#orderModal" href="#">+</a>
                        </div>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center mt-2 rounded">
                        <div>
                            <span class="text-light h5">XXL Doener </span>
                        </div>
                        <div class="d-inline">
                            <span class="halder-price h5 p-1 pe-2 rounded text-danger">29.99 Euro</span>
                            <a class="btn btn-outline-light" role="button" data-dismiss="modal" data-toggle="modal" data-target="#orderModal" href="#">+</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col">
            <div class="price-menu rounded pb-2">
                <h2 class="text-center text-light mt-3 pt-3 halder-title">PIZZA</h2>
                <ul class="list-group px-2 price-menu-ul text-light">
                    <li class="list-group-item d-flex justify-content-between align-items-center mt-2 rounded">
                        <div>
                            <span class="text-light h5">Pizza Hawai </span>
                        </div>
                        <div class="d-inline">
                            <span class="halder-price h5 p-1 pe-2 rounded text-danger">19.99 Euro</span>
                            <a class="btn btn-outline-light" role="button" data-dismiss="modal" data-toggle="modal" data-target="#orderModal" href="#">+</a>
                        </div>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center mt-2 rounded">
                        <div>
                            <span class="text-light h5">Pizza Hawai </span>
                        </div>
                        <div class="d-inline">
                            <span class="halder-price h5 p-1 pe-2 rounded text-danger">19.99 Euro</span>
                            <a class="btn btn-outline-light" role="button" data-dismiss="modal" data-toggle="modal" data-target="#orderModal" href="#">+</a>
                        </div>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center mt-2 rounded">
                        <div>
                            <span class="text-light h5">Pizza Hawai </span>
                        </div>
                        <div class="d-inline">
                            <span class="halder-price h5 p-1 pe-2 rounded text-danger">19.99 Euro</span>
                            <a class="btn btn-outline-light" role="button" data-dismiss="modal" data-toggle="modal" data-target="#orderModal" href="#">+</a>
                        </div>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center mt-2 rounded">
                        <div>
                            <span class="text-light h5">Pizza Hawai </span>
                        </div>
                        <div class="d-inline">
                            <span class="halder-price h5 p-1 pe-2 rounded text-danger">19.99 Euro</span>
                            <a class="btn btn-outline-light" role="button" data-dismiss="modal" data-toggle="modal" data-target="#orderModal" href="#">+</a>
                        </div>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center mt-2 rounded">
                        <div>
                            <span class="text-light h5">Pizza Hawai </span>
                        </div>
                        <div class="d-inline">
                            <span class="halder-price h5 p-1 pe-2 rounded text-danger">19.99 Euro</span>
                            <a class="btn btn-outline-light" role="button" data-dismiss="modal" data-toggle="modal" data-target="#orderModal" href="#">+</a>
                        </div>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center mt-2 rounded">
                        <div>
                            <span class="text-light h5">Pizza Hawai </span>
                        </div>
                        <div class="d-inline">
                            <span class="halder-price h5 p-1 pe-2 rounded text-danger">19.99 Euro</span>
                            <a class="btn btn-outline-light" role="button" data-dismiss="modal" data-toggle="modal" data-target="#orderModal" href="#">+</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col">
            <div class="price-menu rounded pb-2">
                <h2 class="text-center text-light mt-3 pt-3 halder-title">BEILAGEN</h2>
                <ul class="list-group px-2 price-menu-ul text-light">
                    <li class="list-group-item d-flex justify-content-between align-items-center mt-2 rounded">
                        <div>
                            <span class="text-light h5">Coca-Cola </span>
                        </div>
                        <div class="d-inline">
                            <span class="halder-price h5 p-1 pe-2 rounded text-danger">9.99 Euro</span>
                            <a class="btn btn-outline-light" role="button" data-dismiss="modal" data-toggle="modal" data-target="#orderModal" href="#">+</a>
                        </div>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center mt-2 rounded">
                        <div>
                            <span class="text-light text-light h5">Coca-Cola </span>
                        </div>
                        <div class="d-inline">
                            <span class="halder-price h5 p-1 pe-2 rounded text-danger">9.99 Euro</span>
                            <a class="btn btn-outline-light" role="button" data-dismiss="modal" data-toggle="modal" data-target="#orderModal" href="#">+</a>
                        </div>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center mt-2 rounded">
                        <div>
                            <span class="text-light h5">Coca-Cola </span>
                        </div>
                        <div class="d-inline">
                            <span class="halder-price h5 p-1 pe-2 rounded text-danger">9.99 Euro</span>
                            <a class="btn btn-outline-light" role="button" data-dismiss="modal" data-toggle="modal" data-target="#orderModal" href="#">+</a>
                        </div>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center mt-2 rounded">
                        <div>
                            <span class="text-light h5">Coca-Cola </span>
                        </div>
                        <div class="d-inline">
                            <span class="halder-price h5 p-1 pe-2 rounded text-danger">9.99 Euro</span>
                            <a class="btn btn-outline-light" role="button" data-dismiss="modal" data-toggle="modal" data-target="#orderModal" href="#">+</a>
                        </div>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center mt-2 rounded">
                        <div>
                            <span class="text-light halder-title h5">Coca-Cola </span>
                            
                        </div>
                        <div class="d-inline">
                            <span class="halder-price h5 p-1 pe-2 rounded text-danger">9.99 Euro</span>
                            <a class="btn btn-outline-light" role="button" data-dismiss="modal" data-toggle="modal" data-target="#orderModal" href="#">+</a>
                        </div>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center mt-2 rounded">
                        <div>
                            <span class="text-light halder-title h5">Coca-Cola </span>
                        </div>
                        <div class="d-inline">
                            <span class="halder-price h5 p-1 pe-2 rounded text-danger">9.99 Euro</span>
                            <a class="btn btn-outline-light" role="button" data-dismiss="modal" data-toggle="modal" data-target="#orderModal" href="#">+</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>